1. Lakukan 4 operasi aritmatika pada 2 variabel di bawah (tambah, kurang, kali, bagi), lalu simpan semua hasilnya didalam list dan tampilkan.

var_1 = 10

var_2 = 2

In [6]:
#kerjakan soal no 1 pada sel ini
#keluaran yang diharapkan : [12,8,20,5]
var_1 = 10
var_2 = 2

hasil = [var_1+var_2, 
        var_1-var_2, 
        var_1*var_2, 
        var_1//var_2]


print(hasil)

[12, 8, 20, 5]

2. Dengan menggunakan index keluarkan nilai dari dua tuple di bawah

a. ('Budi', 'Rani', 'Indah', 'Ilham')

b. (20, 18, 22, 27)

dari tuple a keluarkan Rani, dan dari tuple B keluarkan 22. lalu tampilkan dengan print()

In [12]:
#kerjakan soal no 2 pada sel ini
#keluaran yang diharapkan: "Rani adalah mahasiswi yang berusia 22 tahun"
nama = ('Budi', 'Rani', 'Indah', 'Ilham')
umur = (20, 18, 22, 27)

print(f"{nama[1]} adalah mahasiswi yang berusia {umur[2]} tahun")

Rani adalah mahasiswi yang berusia 22 tahun

3. Ambil semua value dalam dictionary berikut dan masukkan ke dalam set untuk mengetahui kota mana saja mereka berasal

data_dict = {'Rudi':'bandung', 'Nina':'jakarta', 'Mia':'semarang', 'Indah':'bandung', 'Salman':'surabaya', 'Mikail':'jakarta'}

In [24]:
#kerjakan soal no 3 pada sel ini
#keluaran yang diharapkan: {'bandung','jakarta','semarang','surabaya'}
data_dict = {'Rudi':'bandung', 'Nina':'jakarta', 'Mia':'semarang', 'Indah':'bandung', 'Salman':'surabaya', 'Mikail':'jakarta'}
data_set = set(data_dict.values())
print(data_set)

{'jakarta', 'bandung', 'semarang', 'surabaya'}